In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from atrax import Atrax as tx

In [4]:
s = tx.Series([1,2,3,4])
s

0   1
1   2
2   3
3   4
Name: , dtype: int

In [5]:
s = tx.Series(['apple', 'bananna', 'cherry'])

In [9]:
s = tx.Series([10, 20, 30], index=['a', 'b', 'c'])

In [12]:
s.dtype

'int'

In [13]:
s.data

['apple', 'bananna', 'cherry']

In [14]:
s.dtype

'object'

In [15]:
len(s)

3

In [13]:
s = tx.Series([1, 5, 10], name="numbers")

In [14]:
s

0   1
1   5
2   10
Name: numbers, dtype: int

In [17]:
s1 = tx.Series([1,2,3])
r = s1 + 10

In [18]:
r.data

[11, 12, 13]

In [20]:
s = tx.Series([1, 2, 2, 3, 3, 3], name="numbers")
result = s.unique()
print(result.data)
print(result.name)

[1, 2, 3]
Unique(numbers)

In [21]:
s = tx.Series([1, 2, 3], name="ints")
result = s.astype('float')
result.data

[None, None, None]

In [25]:
s = tx.Series(["abc", "123", "4.5"])
result = s.astype(int)
result.data

[None, 123, None]

In [27]:
s = tx.Series([1, 2, 3, 4, 5], name="test")
r = s.rolling(window=3)
r.data

[1, 2, 3, 4, 5]

In [28]:
ds = tx.DataSet([
    {"date": "2024-01-01", "val": 100},
    {"date": "2024-01-02", "val": 200},
])
ds.set_index("date")
result = ds.loc["2024-01-02"]

In [30]:
result

date, val
2024-01-02, 200

In [29]:
result.shape()

(1, 2)

In [31]:
ds.columns

['date', 'val']

In [32]:
ds.columns()

TypeError: 'list' object is not callable

In [33]:
ds.head()

date, val
2024-01-01, 100
2024-01-02, 200

In [35]:
from atrax.core.qcut import qcut

In [36]:
data = [1, 2, 3, 4, 5, 6, 7, 8]
result = qcut(data, q=4)
result

[0, 0, 0, 1, 1, 2, 2, 3]

In [37]:
data = [10, 20, 30, 40]
labels = ['low', 'med-low', 'med-high', 'high']
result = qcut(data, q=4, labels=labels)
result

['low', 'low', 'med-low', 'med-high']

In [38]:
data = [1, 1, 1, 1, 10]
labels = ['A', 'B', 'C', 'D']
result = qcut(data, q=4, labels=labels)