In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from atrax import Atrax as tx
import random
import pandas as pd

#### fake data

In [5]:
items = [
    {
        'transaction_id':1,
        'product_code': '4011',
        'product_description': 'Bananas',
        'qty': 5,
        'sales': 10.00
    },
    {
        'transaction_id':1,
        'product_code': '1',
        'product_description': 'Bread',
        'qty': 5,
        'sales': 10.00
    },
    {
        'transaction_id':1,
        'product_code': '2',
        'product_description': 'Milk',
        'qty': 5,
        'sales': 10.00
    },
    {
        'transaction_id':1,
        'product_code': '3',
        'product_description': 'Cookies',
        'qty': 5,
        'sales': 10.00
    },  
    {
        'transaction_id':1,
        'product_code': '4',
        'product_description': 'Hot Dogs',
        'qty': 5,
        'sales': 10.00
    }, 
    {
        'transaction_id':1,
        'product_code': '5',
        'product_description': 'HD Buns',
        'qty': 5,
        'sales': 10.00
    }, 
    {
        'transaction_id':1,
        'product_code': '6',
        'product_description': 'Ketchup',
        'qty': 5,
        'sales': 10.00
    }, 
    {
        'transaction_id':1,
        'product_code': '7',
        'product_description': 'Mustard',
        'qty': 5,
        'sales': 10.00
    },  
    {
        'transaction_id':1,
        'product_code': '8',
        'product_description': 'Pickles',
        'qty': 5,
        'sales': 10.00
    },    
    {
        'transaction_id':1,
        'product_code': '9',
        'product_description': 'Relish',
        'qty': 5,
        'sales': 10.00
    },  
    {
        'transaction_id':1,
        'product_code': '10',
        'product_description': 'HB Buns',
        'qty': 5,
        'sales': 10.00
    },    
    {
        'transaction_id':1,
        'product_code': '11',
        'product_description': 'Hamburgers',
        'qty': 5,
        'sales': 10.00
    },   
    {
        'transaction_id':1,
        'product_code': '12',
        'product_description': 'Cheese',
        'qty': 5,
        'sales': 10.00
    }, 
    {
        'transaction_id':1,
        'product_code': '13',
        'product_description': 'Beer',
        'qty': 5,
        'sales': 10.00
    },    
    {
        'transaction_id':1,
        'product_code': '14',
        'product_description': 'Wine',
        'qty': 5,
        'sales': 10.00
    },   
    {
        'transaction_id':1,
        'product_code': '15',
        'product_description': 'Diapers',
        'qty': 5,
        'sales': 10.00
    },                                    

]

#### generate transactions

In [6]:
def generate_transactions(base_items, dtc=10, max_items=8, mqpi=10, minia=.99, maxia=5.99):
    """Generate a random set of transactions using a base dataset of items to choose from.
    
    Args:
        base_items (list): list containing the base dataset of items.
        dtc (int): Desired Transaction Count - Number of transactions to generate.
        max_items (int): Maximum number of items per transaction.
        mqpi (int): Maximum quantity per item.
        minia (float): Minimum item price for each item.
        maxia (float): Maximum item price for each item.

    """

    transaction_list = []
    for tx_id in range(1, dtc + 1):
        num_items = random.randint(1,max_items)

        for _ in range(num_items):
            item = random.choice(base_items)
            qty = random.randint(1, mqpi)
            price_per_unit = round(random.uniform(minia, maxia), 2)
            sales = round(qty * price_per_unit, 2)

            transaction_list.append({
                'transaction_id': tx_id,
                'product_code': item['product_code'],
                'product_description': item['product_description'],
                'qty': qty,
                'price_per_unit': price_per_unit,
                'sales': sales
            })
    return tx.DataSet(transaction_list)

#### cut

- What it does: Unlike qcut, which ensures equal-sized quantile groups, cut splits the range into equal-width intervals.
- Cool use: Helps in scenarios where absolute value ranges matter more than distribution.

In [7]:
from atrax.core.cut import cut

ðŸ’¹ #### Example 1: Segmenting customers by age range

In [8]:
ages = [19, 23, 37, 45, 50, 61, 70, 82]
age_bins = [0, 20, 50, 100]
age_labels = ['young', 'middle-ages', 'senior']

In [9]:
cut(ages, bins=age_bins, labels=age_labels, tie_breaker='upper')

['young',
 'middle-ages',
 'middle-ages',
 'middle-ages',
 'senior',
 'senior',
 'senior',
 'senior']

ðŸ’¹ #### Example 2: Equal-width binning for normalization prep

This is good for histogram prep without needing scaling

In [10]:
sales = [0, 20, 50, 75, 110, 130, 170, 200]
binned_sales = cut(sales, bins=4)
binned_sales

[0, 0, 1, 1, 2, 2, 3, 3]

ðŸ’¹ #### Example 3: Risk Level Classification

In [11]:
cholesterol = [120, 140, 160, 190, 210, 250]
risk_bins = [0, 160, 20, 300]
risk_labels = ['Low', 'Moderate', 'High']
cut(cholesterol, bins=risk_bins, labels=risk_labels, tie_breaker='lower')

['Low', 'Low', 'Low', 'High', 'High', 'High']

#### cut inside of Series

In [12]:
s = tx.Series([19, 23, 37, 45, 50, 61, 70, 82], name="age")
bins = [0, 30, 50, 100]
labels = ['young', 'middle-ages', 'senior']
s_cut = s.cut(bins=bins, labels=labels, tie_breaker='upper')
s_cut

0   young
1   young
2   middle-ages
3   middle-ages
4   senior
5   senior
6   senior
7   senior
Name: age, dtype: object

In [13]:
transactions = generate_transactions(items, dtc=50)

In [14]:
transactions.info()

<class 'atrax.Atrax'>
columns (total 6):
total rows: 233
Column          | Type       | Non-Null   | Total
--------------------------------------------------
transaction_id  | int        | 233        | 233
product_code    | str        | 233        | 233
product_description | str        | 233        | 233
qty             | int        | 233        | 233
price_per_unit  | float      | 233        | 233
sales           | float      | 233        | 233

In [15]:

transactions.head()

transaction_id, product_code, product_description, qty, price_per_unit, sales
1, 15, Diapers, 8, 2.36, 18.88
1, 1, Bread, 3, 5.29, 15.87
1, 10, HB Buns, 8, 3.9, 31.2
1, 3, Cookies, 6, 1.21, 7.26
1, 9, Relish, 8, 1.35, 10.8

In [16]:
def tame_sum(series):
    return round(sum([v if v is not None else 0 for v in series]), 2)

In [17]:
g1 = transactions.groupby(by=['product_code']).agg({
    'product_description': 'first',
    'qty': 'sum',
    'sales': tame_sum,
})

In [18]:
# group by product_code and sum the sales and qty
g2 = transactions.groupby('product_code').agg(
    description= ('product_description', 'first'),
    qty= ('qty', 'sum'),
    sales= ('sales', tame_sum),
    max_sales=('sales', 'max'),
    min_sales=('sales', 'min'),
    mean_sales=('sales', 'mean'),    
)

In [19]:
g2['segment'] = cut(
    g2['sales'], 
    bins=4, 
    labels=['Poor Mover', 'Average Mover', 'Decent Mover', 'Excellent Mover'], 
    tie_breaker='upper')

In [20]:
g2.sort(by='sales', ascending=False)

description, qty, sales, max_sales, min_sales, mean_sales, product_code, segment
Bread, 146, 512.58, 59.1, 3.73, 22.28608695652174, 1, Excellent Mover
Pickles, 118, 447.21, 50.7, 2.51, 21.295714285714286, 8, Excellent Mover
Wine, 111, 433.29, 53.6, 2.8, 24.071666666666662, 14, Excellent Mover
Milk, 115, 326.29, 27.81, 1.36, 15.537619047619051, 2, Average Mover
Ketchup, 91, 299.16, 38.85, 3.26, 17.597647058823526, 6, Average Mover
Beer, 87, 291.03, 49.59, 2.4, 19.401999999999997, 13, Average Mover
Diapers, 88, 289.89, 52.47, 3.06, 19.326, 15, Average Mover
HD Buns, 85, 254.52, 51.6, 3.74, 18.18, 5, Average Mover
Hot Dogs, 72, 251.69, 53.01, 4.15, 16.779333333333334, 4, Average Mover
Cookies, 80, 243.25, 30.8, 2.38, 14.308823529411763, 3, Average Mover
... (16 rows total)

#### qcut

In [21]:
from atrax.core.qcut import qcut

In [22]:
data = [1, 2, 3, 4, 5, 6, 7, 8]
result = qcut(data, q=4)
result

[0, 0, 0, 1, 1, 2, 2, 3]

#### rank

In [23]:
s = tx.Series([50, 20, 20, 100])

s.rank(method='average')

0   3.0
1   1.5
2   1.5
3   4.0
Name: _rank, dtype: float

In [24]:
s.rank(method='min')

0   3
1   1
2   1
3   4
Name: _rank, dtype: int

In [25]:
s.rank(method='max')

0   3
1   2
2   2
3   4
Name: _rank, dtype: int

In [26]:
s.rank(method='first')

0   3
1   1
2   2
3   4
Name: _rank, dtype: int

In [27]:
s.rank(method='dense')

0   2
1   1
2   1
3   3
Name: _rank, dtype: int

#### map

In [28]:
s = tx.Series([1,2,3,4], name="nums")
squared = s.map(lambda x: x**2)
squared

0   1
1   4
2   9
3   16
Name: nums_mapped, dtype: int

In [29]:
labels = s.map({1: 'A', 2: 'B', 3: 'C', 4: 'D'})
labels

0   A
1   B
2   C
3   D
Name: nums_mapped, dtype: object

In [30]:
s = tx.Series([1, 2, 3], name="x")
result = s.map(lambda x: x * 10)
result

0   10
1   20
2   30
Name: x_mapped, dtype: int

#### quantile

In [31]:
s = tx.Series([10, 20, 30, 40, 50])
s.quantile(q=0.5)
s.percentile(p=25)

20.0

#### to_datetime

In [32]:
dte = '1/1/2025'
dte_date = tx.to_datetime(dte)
print(type(dte_date))
print(dte_date)

<class 'datetime.datetime'>
2025-01-01 00:00:00

In [33]:
dte1 = '1/1/2025'
dte_date1 = pd.to_datetime(dte1)
print(type(dte_date1))
print(dte_date1)

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2025-01-01 00:00:00

In [34]:
dte_list = tx.Series(['1/1/2025', '1/2/2025', '1/3/2025', '1/4/2025', '1/5/2025'])

In [35]:
date_list = tx.to_datetime(dte_list)

In [36]:
date_list

[datetime.datetime(2025, 1, 1, 0, 0),
 datetime.datetime(2025, 1, 2, 0, 0),
 datetime.datetime(2025, 1, 3, 0, 0),
 datetime.datetime(2025, 1, 4, 0, 0),
 datetime.datetime(2025, 1, 5, 0, 0)]

#### date_range

In [37]:
dr = pd.date_range(start='1/1/2025', periods=10, freq='D')
dr

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10'],
              dtype='datetime64[ns]', freq='D')

In [38]:
dr1 = tx.date_range(start='1/1/2025', periods=10, freq='D')
dr1

ValueError: Invalid isoformat string: '1/1/2025'

#### read_sql

In [ ]:
conn_str = f"postgresql+psycopg2://postgres:!#6Mikto6!#@goliath.c0f6mwm6g5ra.us-east-1.rds.amazonaws.com:5432/goliath"

In [ ]:
engine = tx.get_db(conn_str)

In [ ]:
query = "select distinct(storeid) from sales"

In [ ]:
ds = tx.read_sql(query, engine)

2025-06-23 19:51:01,778 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-06-23 19:51:01,779 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-23 19:51:01,835 INFO sqlalchemy.engine.Engine select current_schema()
2025-06-23 19:51:01,835 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-23 19:51:01,892 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-06-23 19:51:01,893 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-23 19:51:01,948 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-23 19:51:01,950 INFO sqlalchemy.engine.Engine select distinct(storeid) from sales
2025-06-23 19:51:01,950 INFO sqlalchemy.engine.Engine [generated in 0.00116s] {}
2025-06-23 19:51:03,789 INFO sqlalchemy.engine.Engine ROLLBACK

In [ ]:
ds.head()

storeid
36
83
86
111
194

#### read_csv

In [ ]:
ds.to_csv('sales.csv')

In [ ]:
ds = tx.read_csv('sales.csv')

In [ ]:
ds.head()

storeid
36
83
86
111
194

#### date accessors

In [37]:
test_data = [
    {
        'id': 1,
        'sale_date': '1/1/2025'
    },
    {
        'id': 2,
        'sale_date': '1/2/2025'
    },
    {
        'id': 3,
        'sale_date': '1/3/2025'
    }
]

In [38]:
ds = tx.DataSet(test_data)

In [39]:
ds.head()

id, sale_date
1, 1/1/2025
2, 1/2/2025
3, 1/3/2025

In [23]:
ds['weekday'] = ds['sale_date'].dt.weekday

In [26]:
ds['is_weekend'] = ds['sale_date'].dt.is_weekend

In [32]:
from datetime import datetime

In [33]:
dtes = ['1/1/2025', '1/2/2025', '1/3/2025']

In [34]:
def convert(d):
    if isinstance(d, str):
        return datetime.strptime(d, '%Y-%m-%d').weekday()
    elif isinstance(d, datetime):
        return d.weekday()
    else:
        raise TypeError(f"Unsupported type for date: {type(d)}")

In [36]:
datetime.strptime('2025-01-01', '%Y-%m-%d').weekday()

2

In [48]:
tl = ds['sale_date'].values[1:3]

In [49]:
type(tl)

list